.searchBox {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  text-align: start;
  background-color: rgb(83, 80, 80);
  border-radius: 5px;
  
}

.label {
    margin-top: 10px;
    margin-left: 10px;
}

.searchBox input {
  width: 290px;
  padding: 5px;
  font-size: 14px; 
  margin: 0 auto;
  margin-bottom: 15px;
}